<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Clientes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      Lista de Clientes
    </ion-list-header>

    <ion-item lines="inset" *ngFor="let data of users">
      <ion-avatar slot="start">
        <img src="./assets/default-avatar.png">
      </ion-avatar>
      <ion-label>
        <h2>{{data.nombre}}</h2>
        <h3>{{data.ubicacion}}</h3>
      </ion-label>
    </ion-item>


  </ion-list>

</ion-content>
